:root {
  --primary: #5c821a;
  --bg: #e2e2e2;
  --card-height: 500px;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* border: none; */
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #0f1b07;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(15, 27, 7, 0.8);
  border-bottom: 1px solid #376e37;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* hero section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(1tes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 30%;
  position: relative;
  background-attachment: fixed;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(226, 226, 226, 1) 3%,
    rgba(198, 209, 102, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 900;
  text-shadow: 1px 1px 3px rgba(255, 253, 253, 0.945);
  mix-blend-mode: normal;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.produk{
  padding: 8rem 7% 1.4rem;
}
.produk h2{
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
/* Produk section */

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown.active .dropdown-content {
  max-height: 500px; 
  transition: max-height 0.3s ease;
}
.dropdown-trigger{
background-image: url(1t.jpg);
background-size: cover;
width: 100%;
height: 100px;
border: 0px;
border-radius: 10px 120px;
}
.dropdown-trigger h1{
  color: aqua;
}
/* content produk section */
.content-product{
  display: flex;
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
/* content produk section */

/* buutoon start */
.button{
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;

}
.button span{
  position: relative;
  z-index:1;
  color: #fff;
  font-size: 150px;
  letter-spacing: 8px;
  text-align: center;
}
.button .liquid{
  position:absolute;
  left: 0;
  top: -80px;
  width:100%;
  height: 500px; 
  background: #09e2ac;
  box-shadow: inset 0 0 50px rgba(0,0,0,.5);
  transition: 0.5s;

}
.button:hover .liquid{
  top: -230px;
}
.button .liquid::before,
.button .liquid::after{
  content:'';
  position: absolute;
  width: 1980px;
  height: 1980px;
  top: -320px;
  left: 50%;
  transform:translate(-50%, -75%);

}
.button .liquid::before{
  border-radius:45%;
  background: rgba(20,20,20,1);
  animation: animate 5s linear infinite;
}
.button .liquid::after{
  border-radius:40%;
  background: rgba(20,20,20,0.5);
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%{
    transform:translate(-50%, -75%) rotate(0deg);
  }
  100%{
    transform:translate(-50%, -75%) rotate(360deg);
  }
}

/* buutoon end */

/* footer section */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}
footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
/* media queries*/

/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/*tablet*/
@media (max-width: 758px) {
  html {
    font-size: 65%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    font-size: 1.6rem;
  }
  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/*phone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
